@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.tag-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background: #000;
    max-width: 475px;
    width: 100%;
    border-radius: 8px;
    padding: 25px;
}

.input-box .tweet-area {
    position: relative;
    min-height: 130px;
    max-height: 170px;
    overflow-y: auto;
}

.tweet-area::-webkit-scrollbar {
    width: 0px;
}

.tweet-area .placeholder {
    position: absolute;
    font-size: 17px;
    color: #98A5B1;
    pointer-events: none;
}

.tweet-area .input {
    outline: none;
    font-size: 17px;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
    border: none;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.tweet-area .editable {
    position: relative;
    z-index: 5;
}

.input-box .privacy {
    color: #6fbf7e;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.privacy:hover,
.icons li:hover {
    background: #0f0f0f;
}

.privacy i {
    font-size: 18px;
}

.privacy span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom .icons {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60px;
    border-bottom: none !important;
}

.icons li {
    list-style: none;
    color: #6fbf7e;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
}

.bottom .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom .counter {
    color: #98A5B1;
    display: none;
    font-weight: 500;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #aab8c2;
}

.bottom button {
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: #6fbf7e;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
    transition: background 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom button.active {
    opacity: 1;
    pointer-events: auto;
}

.bottom button:hover {
    background: #47c15d;
}